@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Montserrat';
  background: var(--background);
  color: var(--foreground);
  color: white;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #0d0d0d;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #444, #222);
  border-radius: 10px;
  border: 2px solid #0d0d0d;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #666, #333);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #444 #0d0d0d;
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  padding: 10px;
}

[contenteditable][data-placeholder]:empty::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  color: #ffffff;
  pointer-events: none;
}